<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="asteriskcdrdbEntities" connectionString="metadata=res://*/tecMonterrey.csdl|res://*/tecMonterrey.ssdl|res://*/tecMonterrey.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=asteriskcdrdb&quot;" providerName="System.Data.EntityClient" />
    <add name="AccesoDB.Properties.Settings.asteriskcdrdbConnectionString"
     connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=asteriskcdrdb"
     providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
